@font-face {
    font-family: nohemi-black;
    src: url(../fonts/Nohemi-Black.otf);
    font-weight: regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/poppins-regular-webfont.woff),
        url(../fonts/poppins-regular-webfont.woff2);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/poppins-extrabold-webfont.woff),
        url(../fonts/poppins-extrabold-webfont.woff2);
}


@font-face {
    font-family: skranji-bold;
    src: url(../fonts/skranji-bold-webfont.woff2),
        url(../fonts/skranji-bold-webfont.woff);

}

* {
    box-sizing: border-box;
}

html {
    --color-blue: #091057;

    --color-yellow-pale: #fefef4;
    --color-yellow: #ffc502;
    --color-yellow-2: #f8ba57;
    --color-orange: #ff8400;
    --color-dark-orange: #ed633e;
    --color-green: #91c03e;

    --font-regular: poppins-regular;
    --font-bold: skranji-bold;
    --font-extrabold: poppins-extrabold;

}

body {
    margin: 0;
    font-family: var(--font-regular);
    
    /* display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    column-gap: 2rem; */

    background-color: var(--color-yellow-pale);
}

/* navbar */

.logo {
    width: 100px;
}

h1 {
    margin: 0;
    font-family: skranji-bold;
    font-size: 2rem;
    margin-top: 0.9rem;
}

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

    background-color: var(--color-yellow-pale);

    /* position:sticky;
    top: 0; */

}

.top {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logo-container {
    text-align: center;
    height: 100px;
}

.navbar {

    a {
        color: black;
        font-family: var(--font-bold);
        display: inline-block;
        
        padding: 1rem 2rem;
        text-decoration: none;
    }

    a:last-child {
        padding-right: 0;
    }

    
}

.btn_menu, .menu {
    display: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-orange);
    transition: all 0.2s ease;
}


/* back to top button */
.back-to-top {
    position: fixed;
    z-index: 1000;
    right: 2rem;
    bottom: 1rem;
    cursor: pointer;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
   


    img {
        width: 45px;
        background-color: var(--color-dark-orange);
        border-radius: 90px;
        padding: 0.5rem;
    }

}

.back-to-top.active {
    bottom: 2rem;
    pointer-events: auto;
    opacity: 1;
}

.back-to-top img:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}




/* back button */
.back {
    padding: 0 10rem;
    display: inline-black;
    
    
    a {
        text-decoration: none;
        color: var(--color-orange);

    }

    a:active {
        color: var(--color-orange);
    }

    img {
        width: 30px;
    }
}

/* recipe detail */

.overview, .ingredients, .steps-detail {
    margin: 3rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.overview {
    grid-template-areas: 
    "a b"
    "a c"
    "a d";
    row-gap: 0;
}

.recipe-image, .ingredients-image, .steps-image {
    border-radius: 20px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
}

.recipe-image {
    grid-area: a;
    align-self: center;
}

.recipe-image img {
    width: 75%;
    height: auto;
    text-align: center;
    box-shadow: 12px 12px var(--color-orange);




}

.title-container {
    grid-area: b;
}

.description {
    grid-area: c;
}


.info {
    grid-area: d;

    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;

    /* margin: 2rem; */
    padding: 1rem 0;
    border: 2px solid var(--color-orange);
    border-radius: 20px;


    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .icon {
        margin: 0 auto;
    }

    img {
        width: 45px;
        text-align: center;
    }


    p {
        margin: 0;
    }
}

.ingredients {
    /* background-color: var(--color-yellow-2) ; */
    border-radius: 32px;


    img {
        width: 80%;
        height: auto;
    }

    h2 {
        grid-column: 1/3;
        text-align: center;
        margin: 2rem 0;
    }

    ul {
        margin: 0 auto;
    }

    ul li {
        margin-bottom: 0.5rem;
    }
}

.steps-detail {
    h2 {
        grid-column: 1/3;
        text-align: center;
        margin: 2rem 0;
    }
}

.title {
    text-align: center;
    color: var(--color-orange);
    font-size: 4rem;
}

h2 {
    text-align: center;
    color: var(--color-orange);
    font-size: 3rem;
    font-family: skranji-bold;
}


h3 {
    font-family: var(--font-extrabold);
    color: var(--color-orange);
}

.subtitle {
    text-align: center;
    color: black;
}

.steps-image img{
    width: 80%;
    border-radius: 32px;
}

footer {
    background-color: var(--color-yellow);
    padding: 0.5rem;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .overview {
        margin: 2rem;
        grid-template-areas: 
        "a b"
        "a c"
        "d d";
        margin-bottom: 0;

        .title {
            font-size: 2rem;
        }
    }

    .info {
        margin-top: 2rem;
    }

    .ingredients, .steps-detail {
        margin: 2rem;
        align-items: flex-start;
    }

    .steps-image {
        img {
            object-fit: contain;

        }
    }

    h3 {
        margin-top: 0;
    }



}



@media screen and (max-width: 650px) {
    .title {
        font-size: 2rem;
    }

    nav {
        padding: 1rem 2rem;
        justify-content: space-between;
        position: relative;
        z-index: 100;
    }

    .navbar {
        display: none;
    }

    .btn_menu {
        display: block;

        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        z-index: 60;
        cursor: pointer;
    }
    
    .btn_menu div {
        height: 5px;
        width: 35px;
        background-color: black;
        margin: 3px 0;
        transition: transform 0.3s;
    }
    
    .btn_menu.change {
    
        .bar1 {
            transform: translate(0, 9px) rotate(-45deg);
            /* background-color: var(--background-color); */
        }
        
        .bar2 {opacity: 0;}
        
        .bar3 {
            transform: translate(0, -7px) rotate(45deg);
            /* background-color: var(--background-color); */
        }
    }

    .menu {
        display: block;

        background-color: var(--color-yellow-pale);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        width: 100vw;
        position: absolute;

        transform: translateY(-195px);

        /* transform: translateX(100vw); */
        transition: transform 0.4s ease-in-out;
        z-index: 50;
        right: 0;
        top: 0;

        ul {
            padding: 0;
            font-size: 1.5rem;
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 0;
        }

        ul li {
            list-style-type: none;
            font-family: var(--font-bold);
            margin: 1rem 0;

            
        }

        li a:visited {
            color: black;
        }

    }
    
    .menu.open {
        transform: translateY(132px);
    }

    .top h1 {
        display: none;
    }


    .ingredients, .steps-detail, .overview  {
        grid-template-columns: 1fr;

        h2 {
            grid-column: 1/1;
        }
    }

    .overview {
        grid-template-areas:
        "b b" 
        "a a"
        "c c"
        "d d";

    }

    .info {
        padding: 2rem 3.5rem;
    }


    .steps-detail, .ingredients {

            img {
                width: 100%;
            }
    }


}



