@font-face {
    font-family: nohemi-black;
    src: url(../fonts/Nohemi-Black.otf);
    font-weight: regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/poppins-regular-webfont.woff),
        url(../fonts/poppins-regular-webfont.woff2);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/poppins-extrabold-webfont.woff),
        url(../fonts/poppins-extrabold-webfont.woff2);
}


@font-face {
    font-family: skranji-bold;
    src: url(../fonts/skranji-bold-webfont.woff2),
        url(../fonts/skranji-bold-webfont.woff);

}

* {
    box-sizing: border-box;
}

html {
    --color-blue: #091057;

    --color-yellow-pale: #fefef4;
    --color-yellow: #ffc502;
    --color-yellow-2: #f8ba57;
    --color-orange: #ff8400;
    --color-dark-orange: #ed633e;
    --color-green: #91c03e;

    --font-regular: poppins-regular;
    --font-bold: skranji-bold;
    --font-extrabold: poppins-extrabold;

}

body {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--font-regular);
    
    /* display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    column-gap: 2rem; */

    background-color: var(--color-yellow-pale);
}

/* navbar */

.logo {
    width: 100px;
}

h1 {
    margin: 0;
    font-family: skranji-bold;
    font-size: 2rem;
    margin-top: 0.9rem;
}

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

    background-color: var(--color-yellow-pale);

    /* position:sticky;
    top: 0; */

}

.top {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logo-container {
    text-align: center;
    height: 100px;
}

.navbar {

    a {
        color: black;
        font-family: var(--font-bold);
        display: inline-block;
        
        padding: 1rem 2rem;
        text-decoration: none;
    }

    a:last-child {
        padding-right: 0;
    }

    
}



a:hover {
    color: var(--color-orange);
    transition: all 0.2s ease;
}

/* menu bar */
/* .menu {
    display: flex;
    width: 100vw;
    gap: 3rem;
    justify-content: center;
    color: var(--color-yellow-pale);
    padding: 2rem 0;
    font-family: var(--font-extrabold);
    position: fixed;


    background-color: var(--color-yellow-2);

}

.menu a:visited {
    color: var(--color-yellow-pale);
} */

/* recipe detail */

.overview, .ingredients, .steps-detail {
    margin: 3rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.description-mobile {
    display: none;
}

.recipe-image, .ingredients-image, .steps-image {
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.recipe-image img {
    width: 80%;
    text-align: center;
    box-shadow: 12px 12px var(--color-orange);
}

.info {

    display: flex;
    gap: 3rem;
    justify-content: center;

    margin: 2rem;
    padding: 2rem 0;
    border: 2px solid var(--color-orange);
    border-radius: 20px;


    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .icon {
        margin: 0 auto;
    }

    img {
        width: 45px;
        text-align: center;
    }


    p {
        margin: 0;
    }
}

.ingredients {
    /* background-color: var(--color-yellow-2) ; */
    border-radius: 32px;


    img {
        width: 100%;
        height: auto;
    }

    h2 {
        grid-column: 1/3;
        text-align: center;
        margin: 2rem 0;
    }

    ul {
        margin: 0 auto;
    }

    ul li {
        margin-bottom: 0.5rem;
    }
}

.steps-detail {
    h2 {
        grid-column: 1/3;
        text-align: center;
        margin: 2rem 0;
    }
}

.title {
    text-align: center;
    color: var(--color-orange);
    font-size: 4rem;
}

h2 {
    text-align: center;
    color: var(--color-orange);
    font-size: 3rem;
    font-family: skranji-bold;
}

h3 {
    font-family: var(--font-extrabold);
}

.subtitle {
    text-align: center;
}

.steps-image img{
    width: 80%;
    border-radius: 32px;
}

@media screen and (max-width: 950px) {
    .overview {
        margin: 2rem;

        
    }


}

@media screen and (max-width: 600px) {
    .title {
        font-size: 2rem;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        text-align: right;

        a {
            padding: 1rem 0;

        }
    }

    .top h1 {
        display: none;
    }

    .description-mobile {
        display: block;
    }

    .description-desktop {
        display: none;
    }

}



