@font-face {
    font-family: nohemi-black;
    src: url(../fonts/Nohemi-Black.otf);
    font-weight: regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/poppins-regular-webfont.woff),
        url(../fonts/poppins-regular-webfont.woff2);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/poppins-extrabold-webfont.woff),
        url(../fonts/poppins-extrabold-webfont.woff2);
}


@font-face {
    font-family: skranji-bold;
    src: url(../fonts/skranji-bold-webfont.woff2),
        url(../fonts/skranji-bold-webfont.woff);

}

* {
    box-sizing: border-box;
}

html {
    --color-blue: #091057;

    --color-yellow-pale: #fefef4;
    --color-yellow: #ffc502;
    --color-yellow-2: #f8ba57;
    --color-orange: #ff8400;
    --color-dark-orange: #ed633e;
    --color-green: #91c03e;

    --font-regular: poppins-regular;
    --font-bold: skranji-bold;
    --font-extrabold: poppins-extrabold;

}

body {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--font-regular);
    
    /* display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    column-gap: 2rem; */

    background-color: var(--color-yellow-pale);
}

/* navbar */

.logo {
    width: 100px;
}

h1 {
    margin: 0;
    font-family: skranji-bold;
    font-size: 2rem;
    margin-top: 0.9rem;
}

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

    background-color: var(--color-yellow-pale);
}

.top {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logo-container {
    text-align: center;
    height: 100px;
}

.navbar {

    a {
        color: black;
        font-family: var(--font-bold);
        display: inline-block;
        
        padding: 1rem 2rem;
    }

    a:last-child {
        padding-right: 0;
    }
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-orange);
    transition: all 0.2s ease;
}

.intro {
    text-align: center;
}

.title {
    color: var(--color-orange);
    font-size: 3rem;
}

.section-container {
    /* display: flex;
    gap: 2rem;
    margin: 5rem 2rem; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 4rem  2rem;
}

.section {
    border: 5px solid var(--color-orange);
    border-radius: 2rem;
    padding: 1rem 2rem;
    box-shadow: 8px 8px var(--color-orange);

    h2 {
        font-family: var(--font-extrabold);
        text-align: center;
        color: var(--color-dark-orange);
    }
}

@media screen and (max-width: 950px) {
    .intro {
        margin: 0 2rem;
    }

    .section-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 2rem;
    }
    nav {
        padding: 1rem 2rem;
        justify-content: space-between;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        text-align: right;

        a {
            padding: 1rem 0;

        }
    }

    .top h1 {
        display: none;
    }

    .section-container {
        margin-top: 2rem;
    }
}

