@font-face {
    font-family: nohemi-black;
    src: url(../fonts/Nohemi-Black.otf);
    font-weight: regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/poppins-regular-webfont.woff),
        url(../fonts/poppins-regular-webfont.woff2);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/poppins-extrabold-webfont.woff),
        url(../fonts/poppins-extrabold-webfont.woff2);
}


@font-face {
    font-family: skranji-bold;
    src: url(../fonts/skranji-bold-webfont.woff2),
        url(../fonts/skranji-bold-webfont.woff);

}

* {
    box-sizing: border-box;
}

html {
    --color-blue: #091057;

    --color-yellow-transparent: #fcf4d0;
    --color-light-yellow: #fff4ce;
    --color-yellow-pale: #fefef4;
    --color-yellow: #ffc502;
    --color-yellow-2: #f8ba57;
    --color-orange: #ff8400;
    --color-dark-orange: #ed633e;
    /* --color-dark-orange: #b94c2e; */
    --color-green: #91c03e;


    --font-regular: poppins-regular;
    --font-bold: skranji-bold;
    --font-extrabold: poppins-extrabold;

}

body {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--font-regular);
    
    /* display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    column-gap: 2rem; */

    background-color: var(--color-yellow-pale);
}

/* navbar */

.logo {
    width: 100px;
}

h1 {
    margin: 0;
    font-family: skranji-bold;
    font-size: 2rem;
    margin-top: 0.9rem;
}

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

    background-color: var(--color-yellow-pale);
}

.top {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logo-container {
    text-align: center;
    height: 100px;
}

.navbar {

    a {
        color: black;
        font-family: var(--font-bold);
        display: inline-block;
        
        padding: 1rem 2rem;
    }

    a:last-child {
        padding-right: 0;
    }
}

.btn_menu, .menu {
    display: none
}

a {
    text-decoration: none;
}


.footer {
    background-color: var(--color-yellow-pale);
    text-align: center;
}

h1, h3 {
    text-align: center;
}

.title {
    font-size: 3rem;
    color: var(--color-orange);
}

h2 {
    font-family: var(--font-bold);
    text-align: center;
    /* margin-top: 3rem; */
}


.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    grid-gap: 2rem;
    margin: 0 auto;
}


.card {
    background-color: var(--color-light-yellow);
    width: 100%;
    
    /* border: 5px solid var(--color-dark-orange); */
    color: black;
    border-radius: 24px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    height: 100%;
    transition: all 0.15s ease;



    .pic {
        background-color: var(--color-orange);
        border-radius: 8px;
        width: 100%;
        /* border: 5px solid var(--color-yellow); */


    }

    p {
        margin-top: 0;
    }
}

.card:hover {
    box-shadow: 12px 12px var(--color-orange);
    /* transform: translate(-8px, -8px); */
}

.view-all {
    display: flex;
    background-color: var(--color-orange);
    padding: 1.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 2rem auto;
    cursor: pointer;
    color: black;
    text-align: center;
    font-family: var(--font-extrabold);
    justify-content: center;
    width: 200px;

    transition: transform 0.2s ease-out;
    
}


.view-all:hover {
    transform: translate(-5px, -5px);
}

@media screen and (max-width: 950px) {
    .title {
        margin: 0 2rem;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;

        .name {
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 2rem;
    }

    nav {
        padding: 1rem 2rem;
        justify-content: space-between;
        position: relative;
        z-index: 100;
    }

    .navbar {
        display: none;
    }

    .btn_menu {
        display: block;

        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        z-index: 60;
        cursor: pointer;
    }
    
    .btn_menu div {
        height: 5px;
        width: 35px;
        background-color: black;
        margin: 3px 0;
        transition: transform 0.3s;
    }
    
    .btn_menu.change {
    
        .bar1 {
            transform: translate(0, 9px) rotate(-45deg);
            /* background-color: var(--background-color); */
        }
        
        .bar2 {opacity: 0;}
        
        .bar3 {
            transform: translate(0, -7px) rotate(45deg);
            /* background-color: var(--background-color); */
        }
    }

    .menu {
        display: block;

        background-color: var(--color-yellow-pale);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        width: 100vw;
        position: absolute;

        transform: translateY(-195px);

        /* transform: translateX(100vw); */
        transition: transform 0.4s ease-in-out;
        z-index: 50;
        right: 0;
        top: 0;

        ul {
            padding: 0;
            font-size: 1.5rem;
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 0;
        }

        ul li {
            list-style-type: none;
            font-family: var(--font-bold);
            margin: 1rem 0;

        
        }

        li a:visited {
            color: black;
        }

    }
    
    .menu.open {
        transform: translateY(132px);
    }

    .top h1 {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
    }
}
