@font-face {
    font-family: nohemi-black;
    src: url(../fonts/Nohemi-Black.otf);
    font-weight: regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/poppins-regular-webfont.woff),
        url(../fonts/poppins-regular-webfont.woff2);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/poppins-extrabold-webfont.woff),
        url(../fonts/poppins-extrabold-webfont.woff2);
}


@font-face {
    font-family: skranji-bold;
    src: url(../fonts/skranji-bold-webfont.woff2),
        url(../fonts/skranji-bold-webfont.woff);

}

* {
    box-sizing: border-box;
}

html {
    --color-blue: #091057;


    --color-yellow-transparent: #fcf4d0;
    --color-light-yellow: #fff4ce;
    --color-yellow-pale: #fefef4;
    --color-yellow: #ffc502;
    --color-yellow-2: #f8ba57;
    --color-orange: #ff8400;
    --color-dark-orange: #ed633e;
    /* --color-dark-orange: #b94c2e; */
    --color-green: #91c03e;

    --font-regular: poppins-regular;
    --font-bold: skranji-bold;
    --font-extrabold: poppins-extrabold;

}

body {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--font-regular);
    
    /* display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    column-gap: 2rem; */

    background-color: var(--color-yellow);
}

/* navbar */

.logo {
    width: 100px;
}

h1 {
    margin: 0;
    font-family: skranji-bold;
    font-size: 2rem;
    margin-top: 0.9rem;
}

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

    background-color: var(--color-yellow-pale);
}

.top {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logo-container {
    text-align: center;
    height: 100px;
}

.navbar {

    a {
        color: black;
        font-family: var(--font-bold);
        display: inline-block;
        
        padding: 1rem 2rem;
    }

    a:last-child {
        padding-right: 0;
    }
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-orange);
    transition: all 0.2s ease;
}

/* content */

.question {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
    font-family: skranji-bold;
    margin-bottom: 1rem;
}


.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.search-bar input {
    padding: 1.2rem;
    font-size: 1.1rem;
    border: 4px solid var(--color-orange);
    border-radius: 2rem 0 0 2rem;
    width: 300px;
    outline: none;
    border-right: none;
    box-sizing: border-box; 
}

.search-bar button {
    background-color: var(--color-orange);
    color: black;
    border: 4px solid var(--color-orange);
    border-radius: 0 2rem 2rem 0;
    padding: 1.2rem;
    font-size: 1.1rem; /* Match input's font size */
    cursor: pointer;
    outline: none;
    border-left: none;
    box-sizing: border-box; 
    display: flex;
    align-items: center; /* Center text within the button */
    justify-content: center;
}


.filter-button {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
        cursor: pointer;
        padding: 1rem;
        background-color: white;
        border: none;
        border-radius: 2rem;
        font-size: 1rem;
        transition: background-color 0.3s ease-out, transform 0.2s ease-out;
    }

    button:hover {
        background-color: var(--color-orange);
        transform: translate(-1px, -1px);
    }
}



h2 {
    font-family: var(--font-bold);
    text-align: center;
    /* margin-top: 3rem; */
}

.container {
    /* display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    gap: 1rem; */

    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 3rem; */

    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-gap: 2rem;
    padding: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
}

.error {
    grid-column: 1/span4;
    text-align: center;
    color: red;
}

.card {
    background-color: var(--color-light-yellow);
    
    /* border: 5px solid var(--color-dark-orange); */
    color: black;
    border-radius: 24px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    height: 100%;
    transition: all 0.15s ease;


    .pic {
        background-color: var(--color-orange);
        border-radius: 8px;
        width: 100%;


    }

    p {
        margin-top: 0;
    }


}

a {
    text-decoration: none;
}

.card:hover {
    box-shadow: 12px 12px var(--color-orange);
    /* transform: translate(-8px, -8px); */
}

@media screen and (max-width: 1100px) {
    .title {
        margin: 0 2rem;
        margin-top: 2rem;
    }

    .container {
        grid-template-columns: repeat(2, 1fr) ;
    }

    .filter-button {
        flex-wrap: wrap;
        gap: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}


@media screen and (max-width: 600px) {
    .title {
        font-size: 2rem;
    }
    nav {
        padding: 1rem 2rem;
        justify-content: space-between;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        text-align: right;

        a {
            padding: 1rem 0;

        }
    }

    .top h1 {
        display: none;
    }

    .container {
        grid-template-columns: 1fr ;
        margin: 1rem;

    }


    .search-bar input {
        padding: 1rem;
        font-size: 1rem;
        border: 3px solid var(--color-orange);
        border-radius: 2rem 0 0 2rem;
        width: 200px;
    }

    .search-bar button {
        border: 3px solid var(--color-orange);
        padding: 1rem;
        font-size: 1rem; 
    }

}
